<div class="navbar">
    <mat-toolbar>
    </mat-toolbar>
    <mat-card>

        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="6" [style.background]="'lightblue'">IMAG</mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label>Cargo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label>Fecha Ingreso</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label>Salario</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <button mat-raised-button>Volver</button>
                    <button mat-raised-button color="primary">Registrar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>