
.table {

    width:80%;
    margin: auto;
 }

 #opcion{
  outline:none !important;
  border: 0 !important;;
 }
 
 .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .filter{
    width:80%;
    margin: auto;
    margin-top: 3em;
  }