<div class="container">
    <div class="navbar">
        <mat-toolbar>
            <span>Usuarios</span>
            <button   style="margin-left:auto;" mat-raised-button color="primary" >Nuevo Usuario</button>
        </mat-toolbar>
    </div>

    <div *ngIf="listUsuarios.length>0">
        <div class="filter">
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input autocomplete="off">
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8 table">
            <table class="mitabla" mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>
                <ng-container matColumnDef="cargo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
                    <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaIngreso">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Ingreso </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaIngreso | date}} </td>
                </ng-container>
                <ng-container matColumnDef="salario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sueldo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.salario | currency}} </td>
                </ng-container>

                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <button mat-button matTooltip="Ver Usuario">
                            <mat-icon style="color: #092ee5;" aria-hidden="false" fontIcon="search"></mat-icon>
                        </button>
                        <button mat-button matTooltip="Editar Usuario">
                            <mat-icon style="color: #092ee5;" aria-hidden="false" fontIcon="edit"></mat-icon>
                        </button>
                        <button (click)="eliminarUsuario(i)" matTooltip="Eliminar Usuario">
                            <mat-icon style="color: #092ee5;" aria-hidden="false" fontIcon="delete"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[1, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
        </div>
        

    </div>


    <h2  class="filter" *ngIf="listUsuarios.length<=0">No hay Usuarios para Visualizar</h2>
    


</div>